/*****************************************************************************
 * base
 ****************************************************************************/
%base-content {
   color: $color-primary-font;
}

html {
   height: 100%; // to keep footer at bottom of page
   background-color: $smoke;
	body {
		font-family: $font-stack;
      height: 100%; // to keep footer at bottom of page
		overflow-y: scroll;
      #container {
         min-height: 100%; // to keep footer at bottom of page
         position: relative; // to keep footer at bottom of page
      }
	}
}

h1, h2 {
   color: $carrot;
   font-family: Lobster;
   font-size: 40px;
   &.text-shadow-light { text-shadow: 0px 0px remCalc(25) rgba(255, 255, 255, 1); }
   &.text-shadow-dark { text-shadow: 0px 0px remCalc(25) rgba(0, 0, 0, 1); }
}

h3 {
   font-family: OswaldHeavy;
   font-size: 24px;
}

h4 {
   font-family: OswaldMedium;
   font-size: 18px;
}

p {
   @extend %base-content;
   margin-bottom: remCalc(30);
   line-height: 1.5;
   &:first-of-type { margin-top: remCalc(30); }
}

a { @extend %base-content; }

img { max-width: 100% };

strong { font-weight: 900; }

table {
   width: 100%;
   background-color: rgba(255, 255, 255, 0.5);
}

table, th, td {
   color: $color-primary-font;
   border: 1px solid $color-primary-font;
   font-weight: bold;
   border-collapse: collapse;
   margin: 0 auto;
}

th, td {
   padding: remCalc(20);
   text-align: center;
}
