/*****************************************************************************
 * Base
 ****************************************************************************/

html {
	body {
		font-family: $font-stack;
		// font-weight: $body-font-weight;
		// font-size: $rem-base;
		// color: $text-color;
		// background-color: $background-color-primary;
		overflow-y: scroll;
	}
}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	font-weight: bold;
	padding-top: $h1-padding-top;
	padding-bottom: $h1-padding-bottom;
}
// h2 {
// 	font-size: $h2-font-size;
// 	line-height: $h2-line-height;
// 	font-weight: bold;
// 	padding-bottom: $h2-padding-bottom;
// }
// h3 {
// 	font-size: $h3-font-size;
// 	line-height: $h3-line-height;
// 	font-weight: bold;
// 	// padding-top: $h3-padding-top;
// }
// h4 {
// 	font-size: $h4-font-size;
// 	line-height: $h4-line-height;
// 	font-weight: bold;
// }
// h5 {
// 	font-size: $h5-font-size;
// 	line-height: $h5-line-height;
// 	font-weight: bold;
// }
// h6 {
// 	font-size: $h6-font-size;
// 	line-height: $h6-line-height;
// 	font-weight: bold;
// }
// a {
// 	font-size: $a-font-size;
// 	line-height: $a-line-height;
// 	text-decoration: none;
// 	color: $text-color;
// }
// p {
// 	font-size: $p-font-size;
// 	line-height: $p-line-height;
// 	padding-bottom: $p-padding-bottom;
// }
// li {
// 	font-size: $li-font-size;
// 	line-height: $li-line-height;
// }
// a, p, li {
// 	line-height: $default-line-height;
// }