/*****************************************************************************
 * Base
 ****************************************************************************/

html {
	body {
		font-family: $font-stack;
		// font-weight: $body-font-weight;
		// font-size: $rem-base;
		// color: $text-color;
		// background-color: $background-color-primary;
		overflow-y: scroll;
	}
}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	font-weight: bold;
	padding-top: $h1-padding-top;
	padding-bottom: $h1-padding-bottom;
}
