/*****************************************************************************
 * base
 ****************************************************************************/
%base-content {
   color: $color-primary-font;
}

html {
   height: 100%; // to keep footer at bottom of page
   background-color: $smoke;
	body {
		font-family: $font-stack;
      height: 100%; // to keep footer at bottom of page
		overflow-y: scroll;
      #container {
         min-height: 100%; // to keep footer at bottom of page
         position: relative; // to keep footer at bottom of page
      }
	}
}

h1, h2 {
   color: $color-secondary;
   font-family: Lobster;
   font-size: remCalc(40);
}

h3, h4 {
   font-family: OswaldMedium;
   font-size: remCalc(20);
   text-transform: uppercase;
   line-height: 1.25;
   color: $color-primary;
}

h1, h2, h3 {
   margin-bottom: remCalc(30);
}

h4 {
   margin: remCalc(15) 0;
}

ul {
   list-style: disc;
   margin-left: remCalc(16);
}

p, li {
   @extend %base-content;
   margin-bottom: remCalc(30);
   line-height: 1.5;
   // &:first-of-type { margin-top: remCalc(30); }
}

address {
   margin-bottom: remCalc(30);
   line-height: 1.25;
   // color: $color-accent-font;
}

a { @extend %base-content; }

img { max-width: 100% };

strong { font-weight: 900; }

table {
   width: 100%;
   background-color: rgba(255, 255, 255, 0.5);
}

table, th, td {
   color: $color-primary-font;
   border: 1px solid $color-primary-font;
   font-weight: bold;
   border-collapse: collapse;
   margin: 0 auto;
}

th, td {
   padding: remCalc(20);
   text-align: center;
}

blockquote {
   color: $color-primary-font;
   background-color: $color-testimonial-font;
   border-left: remCalc(3) solid $ash;
   padding: remCalc(10);
   font-style: italic;
   line-height: 1.5;
   & + p {
      margin-top: remCalc(15);
   }
}
