/*****************************************************************************
 * base
 ****************************************************************************/

html {
   height: 100%; // to keep footer at bottom of page
   background-color: $grey-very-light;
	body {
		font-family: $font-stack;
		// font-weight: $body-font-weight;
		// font-size: $rem-base;
		// color: $text-color;
		// background-color: $background-color-primary;
      height: 100%; // to keep footer at bottom of page
		overflow-y: scroll;
      #container {
         min-height: 100%; // to keep footer at bottom of page
         position: relative; // to keep footer at bottom of page
      }
	}
}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	font-weight: bold;
	padding-top: $h1-padding-top;
	padding-bottom: $h1-padding-bottom;
}

h2 {
   color: $orange;
   font-family: Lobster;
   font-size: 40px;
}

p {
   margin-bottom: remCalc(30);
   line-height: 1.5;
   color: $font-primary-color;
   &:first-of-type {
      margin-top: remCalc(30);
   }
}

a {
   color: $font-primary-color;
}

.flex {
   display: flex;
}
