/*****************************************************************************
 * base
 ****************************************************************************/
%base-content {
   color: $color-primary-font;
}

html {
   height: 100%; // to keep footer at bottom of page
   background-color: $smoke;
	body {
		font-family: $font-stack;
      height: 100%; // to keep footer at bottom of page
		overflow-y: scroll;
      #container {
         min-height: 100%; // to keep footer at bottom of page
         position: relative; // to keep footer at bottom of page
      }
	}
}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	font-weight: bold;
	padding-top: $h1-padding-top;
	padding-bottom: $h1-padding-bottom;
}

h2 {
   color: $carrot;
   font-family: Lobster;
   font-size: 40px;
}

p {
   @extend %base-content;
   margin-bottom: remCalc(30);
   line-height: 1.5;
   &:first-of-type {
      margin-top: remCalc(30);
   }
}

a {
   @extend %base-content;
}

strong {
   font-weight: 900;
}
