// Font Icons
@font-face {
	font-family: 'zionBags';
	src:url('../fonts/zionBags/zionBags.eot?9tmepv');
	src:url('../fonts/zionBags/zionBags.eot?#iefix9tmepv') format('embedded-opentype'),
		url('../fonts/zionBags/zionBags.woff?9tmepv') format('woff'),
		url('../fonts/zionBags/zionBags.ttf?9tmepv') format('truetype'),
		url('../fonts/zionBags/zionBags.svg?9tmepv#zionBags') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'zionBags';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e601";
}
.icon-youTube:before {
	content: "\e604";
}
.icon-phone:before {
	content: "\e605";
}
.icon-location:before {
	content: "\e607";
}
.icon-truck:before {
	content: "\e60c";
}
.icon-facebook:before {
	content: "\e60d";
}
.icon-twitter:before {
	content: "\e60e";
}
.icon-checkmark:before {
	content: "\e612";
}
.icon-envelope:before {
	content: "\e616";
}
.icon-newspaper:before {
	content: "\e617";
}
.icon-play:before {
	content: "\e618";
}
.icon-play2:before {
	content: "\e619";
}
.icon-x:before {
	content: "\e606";
}
.icon-x2:before {
	content: "\f081";
}
.icon-newspaper2:before {
	content: "\e009";
}
.icon-note:before {
	content: "\e603";
}
.icon-menu:before {
	content: "\e120";
}
.icon-th-menu:before {
	content: "\e600";
}
.icon-th-menu-outline:before {
	content: "\e602";
}
