//*************************** emCalc *****************************************
$browser-context: 16; // Default

// px to em calc
@function emCalc($pixels, $context: $browser-context) {
  @return #{$pixels / $context}em;
}

// px to rem calc
@function remCalc($pixels, $context: $browser-context) {
  @return #{$pixels / $context}rem;
}

$column-gutter: remCalc(15) !default;

//*************************** Breakpoints ************************************
// values
$xsmall: 320;
$small:  400;
$medium: 768;
$large:  1024;
$xlarge: 1600;

// breakpoints
$xsmall-breakpoint: remCalc($xsmall);
$small-breakpoint:  remCalc($small);
$medium-breakpoint: remCalc($medium);
$large-breakpoint:  remCalc($large);
$xlarge-breakpoint: remCalc($xlarge);

// add one (1) to each breakpoint
$xsmall-breakpoint-plus: remCalc($xsmall + 1);
$small-breakpoint-plus:  remCalc($small  + 1);
$medium-breakpoint-plus: remCalc($medium + 1);
$large-breakpoint-plus:  remCalc($large  + 1);
$xlarge-breakpoint-plus: remCalc($xlarge + 1);

// breakpoints object
$breakpoints: (
   xsmall:  $xsmall-breakpoint,
   small:   $small-breakpoint,
   medium:  $medium-breakpoint,
   large:   $large-breakpoint,
   xlarge:  $xlarge-breakpoint
);

// ranges
$xsmall-range:  (0, $xsmall-breakpoint); 
$small-range:   ($xsmall-breakpoint-plus, $small-breakpoint);
$medium-range:  ($small-breakpoint-plus, $medium-breakpoint);
$large-range:   ($medium-breakpoint-plus, $large-breakpoint);
$xlarge-range:  ($large-breakpoint-plus, $xlarge-breakpoint);
$xxlarge-range: ($xlarge-breakpoint-plus, remCalc(99999999));

$max-screen-width: remCalc(1200);

$screen: "only screen";
$all:    "all";

$xsmall-up:    $screen;
$small-up:     "#{$all} and (min-width:#{lower-bound($small-range)})";
$medium-up:    "#{$all} and (min-width:#{lower-bound($medium-range)})";
$large-up:     "#{$all} and (min-width:#{lower-bound($large-range)})";
$xlarge-up:    "#{$all} and (min-width:#{lower-bound($xlarge-range)})";
$xxlarge-up:   "#{$all} and (min-width:#{lower-bound($xxlarge-range)})";

$xsmall-down:  $screen;
$small-down:   "#{$all} and (max-width:#{upper-bound($small-range)})";
$medium-down:  "#{$all} and (max-width:#{upper-bound($medium-range)})";
$large-down:   "#{$all} and (max-width:#{upper-bound($large-range)})";
$xlarge-down:  "#{$all} and (max-width:#{upper-bound($xlarge-range)})";
$xxlarge-down: "#{$all} and (max-width:#{upper-bound($xxlarge-range)})";

$xsmall-only:  "#{$all} and (min-width:#{lower-bound($xsmall-range)})  and (max-width:#{upper-bound($xsmall-range)})";
$small-only:   "#{$all} and (min-width:#{lower-bound($small-range)})   and (max-width:#{upper-bound($small-range)})";
$medium-only:  "#{$all} and (min-width:#{lower-bound($medium-range)})  and (max-width:#{upper-bound($medium-range)})";
$large-only:   "#{$all} and (min-width:#{lower-bound($large-range)})   and (max-width:#{upper-bound($large-range)})";
$xlarge-only:  "#{$all} and (min-width:#{lower-bound($xlarge-range)})  and (max-width:#{upper-bound($xlarge-range)})";
$xxlarge-only: "#{$all} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

// ranges object
$ranges: (
   xsmall-up:    $xsmall-up,
   small-up:     $small-up,
   medium-up:    $medium-up,
   large-up:     $large-up,
   xlarge-up:    $xlarge-up,
   xxlarge-up:   $xxlarge-up,

   xsmall-down:  $xsmall-down,
   small-down:   $small-down,
   medium-down:  $medium-down,
   large-down:   $large-down,
   xlarge-down:  $xlarge-down,
   xxlarge-down: $xxlarge-down,

   xsmall-only:  $xsmall-only,
   small-only:   $small-only,
   medium-only:  $medium-only,
   large-only:   $large-only,
   xlarge-only:  $xlarge-only,
   xxlarge-only: $xxlarge-only
);

//*************************** Colors *****************************************
$black:           #000000;
$charcoal:        #333333;
$green:           #93af2a;
$grey:            #4a4a4a;
$grey-light:      lighten($grey, 30%);
$grey-very-light: lighten($grey, 63%);
$grey-dark:       darken($grey, 10%);
$grey-very-dark:  darken($grey, 25%);
$orange:          #f15a22;
$white:           #FFFFFF;

//*************************** Element Colors *********************************
$background-color-primary: $white;
$text-color:               $grey-light;

//*************************** Font-Sizes *************************************
$font-face:             '';
$font-face-face:        'Lobster';
$font-weight:           400;
$font-size:             remCalc(16);
$font-stack-fallbacks:  Helvetica, Arial, Sans-Serif;

$font-stack:            $font-face, $font-stack-fallbacks;
$font-size-start:       9;
$font-size-end:         32;

$h1-font-size:          remCalc(23);
$h2-font-size:          remCalc(20);
$h3-font-size:          remCalc(14);
$h4-font-size:          remCalc(16);
$h5-font-size:          remCalc(14);
$h6-font-size:          remCalc(12);
$p-font-size:           remCalc(13.5);
$a-font-size:           remCalc(16);
$li-font-size:          remCalc(16);
$default-font-size:     remCalc(16);

$h1-line-height:        remCalc(24);
$h2-line-height:        remCalc(20);
$h3-line-height:        remCalc(16);
$h4-line-height:        remCalc(16);
$h5-line-height:        remCalc(14);
$h6-line-height:        remCalc(12);
$p-line-height:         remCalc(14);
$a-line-height:         remCalc(14);
$li-line-height:        remCalc(14);
$default-line-height:   remCalc(14);

$side-nav-font-size:    remCalc(13);

//*************************** Margin and Padding *****************************
$h1-padding-top:        remCalc(10);
$h1-padding-bottom:     remCalc(10);

//*************************** Modules ****************************************
// Note: module settings should go at the top of each individual module partials.

//*************************** Properties *************************************
$properties: margin, padding;
$sides-all:  top, bottom, left, right;
$sides-tb:   top, bottom;
$sides-lr:   left, right;
