//*************************** emCalc *****************************************
$browser-context: 16; // Default

// px to em calc
@function emCalc($pixels, $context: $browser-context) {
  @return #{$pixels / $context}em;
}

// px to rem calc
@function remCalc($pixels, $context: $browser-context) {
  @return #{$pixels / $context}rem;
}

$column-gutter: remCalc(15) !default;

//*************************** Breakpoints ************************************
// values
$xsmall: 320;
$small:  420;
$medium: 768;
$large:  960;
$xlarge: 1200;

// breakpoints
$xsmall-breakpoint: remCalc($xsmall);
$small-breakpoint:  remCalc($small);
$medium-breakpoint: remCalc($medium);
$large-breakpoint:  remCalc($large);
$xlarge-breakpoint: remCalc($xlarge);

// add one (1) to each breakpoint
$xsmall-breakpoint-minus: remCalc($xsmall - 1);
$small-breakpoint-minus:  remCalc($small  - 1);
$medium-breakpoint-minus: remCalc($medium - 1);
$large-breakpoint-minus:  remCalc($large  - 1);
$xlarge-breakpoint-minus: remCalc($xlarge - 1);

// breakpoints object
$breakpoints: (
   xsmall:  $xsmall-breakpoint,
   small:   $small-breakpoint,
   medium:  $medium-breakpoint,
   large:   $large-breakpoint,
   xlarge:  $xlarge-breakpoint
);

// ranges
$xsmall-range:  (0, $xsmall-breakpoint-minus); 
$small-range:   ($xsmall-breakpoint, $small-breakpoint-minus);
$medium-range:  ($small-breakpoint, $medium-breakpoint-minus);
$large-range:   ($medium-breakpoint, $large-breakpoint-minus);
$xlarge-range:  ($large-breakpoint, $xlarge-breakpoint-minus);
$xxlarge-range: ($xlarge-breakpoint, remCalc(99999999));

$max-screen-width: remCalc($xlarge);

$screen: "only screen";
$all:    "all";

$xsmall-up:    $screen;
$small-up:     "#{$all} and (min-width:#{lower-bound($small-range)})";
$medium-up:    "#{$all} and (min-width:#{lower-bound($medium-range)})";
$large-up:     "#{$all} and (min-width:#{lower-bound($large-range)})";
$xlarge-up:    "#{$all} and (min-width:#{lower-bound($xlarge-range)})";
$xxlarge-up:   "#{$all} and (min-width:#{lower-bound($xxlarge-range)})";

$xsmall-down:  $screen;
$small-down:   "#{$all} and (max-width:#{upper-bound($small-range)})";
$medium-down:  "#{$all} and (max-width:#{upper-bound($medium-range)})";
$large-down:   "#{$all} and (max-width:#{upper-bound($large-range)})";
$xlarge-down:  "#{$all} and (max-width:#{upper-bound($xlarge-range)})";
$xxlarge-down: "#{$all} and (max-width:#{upper-bound($xxlarge-range)})";

$xsmall-only:  "#{$all} and (min-width:#{lower-bound($xsmall-range)})  and (max-width:#{upper-bound($xsmall-range)})";
$small-only:   "#{$all} and (min-width:#{lower-bound($small-range)})   and (max-width:#{upper-bound($small-range)})";
$medium-only:  "#{$all} and (min-width:#{lower-bound($medium-range)})  and (max-width:#{upper-bound($medium-range)})";
$large-only:   "#{$all} and (min-width:#{lower-bound($large-range)})   and (max-width:#{upper-bound($large-range)})";
$xlarge-only:  "#{$all} and (min-width:#{lower-bound($xlarge-range)})  and (max-width:#{upper-bound($xlarge-range)})";
$xxlarge-only: "#{$all} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

// ranges object
$ranges: (
   xsmall-up:    $xsmall-up,
   small-up:     $small-up,
   medium-up:    $medium-up,
   large-up:     $large-up,
   xlarge-up:    $xlarge-up,
   xxlarge-up:   $xxlarge-up,

   xsmall-down:  $xsmall-down,
   small-down:   $small-down,
   medium-down:  $medium-down,
   large-down:   $large-down,
   xlarge-down:  $xlarge-down,
   xxlarge-down: $xxlarge-down,

   xsmall-only:  $xsmall-only,
   small-only:   $small-only,
   medium-only:  $medium-only,
   large-only:   $large-only,
   xlarge-only:  $xlarge-only,
   xxlarge-only: $xxlarge-only
);

//*************************** Colors *****************************************
$casper:    #ffffff;
$vader:     #000000;
$kiwi:      #93af2a;
$carrot:    #f15a22;
$charcoal:  lighten($vader, 20%);
$smoke:     darken($casper, 4%);
$ash:       lighten($vader, 30%);

$color-primary:                     $carrot;
$color-secondary:                   $kiwi;
$color-primary-font:                $charcoal;
$color-secondary-font:              $casper;
$color-cta-font:                    $color-primary;
$color-accent-font:                 $color-secondary;
$color-primary-button:              $color-secondary-font;
$color-bg-primary-button:           $color-primary;
$color-bg-primary-button-hover:     lighten($color-bg-primary-button, 10%);
$color-secondary-button:            $color-primary-font;
$color-bg-secondary-button:         $casper;
$color-bg-secondary-button-hover:   darken($color-bg-secondary-button, 10%);
$color-primary-a:                   $color-primary;
$color-primary-a-hover:             lighten($color-primary-a, 7%);
$color-primary-background:          $casper;
$color-secondary-background:        $charcoal;

//*************************** Fonts & Icons **********************************
$font-face:             '';
$font-face-face:        'Lobster';
$font-weight:           400;
$font-size:             remCalc(16);
$font-stack-fallbacks:  Helvetica, Arial, Sans-Serif;

$font-stack:            $font-face, $font-stack-fallbacks;
$font-size-start:       9;
$font-size-end:         32;

$h1-font-size:          remCalc(23);
$h2-font-size:          remCalc(20);
$h3-font-size:          remCalc(14);
$h4-font-size:          remCalc(16);
$h5-font-size:          remCalc(14);
$h6-font-size:          remCalc(12);
$p-font-size:           remCalc(13.5);
$a-font-size:           remCalc(16);
$li-font-size:          remCalc(16);
$default-font-size:     remCalc(16);

$h1-line-height:        remCalc(24);
$h2-line-height:        remCalc(20);
$h3-line-height:        remCalc(16);
$h4-line-height:        remCalc(16);
$h5-line-height:        remCalc(14);
$h6-line-height:        remCalc(12);
$p-line-height:         remCalc(14);
$a-line-height:         remCalc(14);
$li-line-height:        remCalc(14);
$default-line-height:   remCalc(14);

$side-nav-font-size:    remCalc(13);

// icons
$icon-home3:         "\e902";
$icon-newspaper:     "\e904";
$icon-image:         "\e90d";
$icon-images:        "\e90e";
$icon-camera:        "\e90f";
$icon-qrcode:        "\e938";
$icon-phone:         "\e942";
$icon-phone-hang-up: "\e943";
$icon-envelop:       "\e945";
$icon-location:      "\e947";
$icon-location2:     "\e948";
$icon-calendar:      "\e953";
$icon-mobile:        "\e958";
$icon-spoon-knife:   "\e9a3";
$icon-leaf:          "\e9a4";
$icon-facebook:      "\ea90";
$icon-facebook2:     "\ea91";
$icon-instagram:     "\ea92";
$icon-twitter:       "\ea96";
$icon-blogger:       "\eab7";
$icon-blogger2:      "\eab8";
$icon-tumblr:        "\eab9";
$icon-tumblr2:       "\eaba";
$icon-linkedin:      "\eac9";
$icon-linkedin2:     "\eaca";
$icon-pinterest:     "\ead1";
$icon-pinterest2:    "\ead2";

//*************************** Margin and Padding *****************************
$h1-padding-top:        remCalc(10);
$h1-padding-bottom:     remCalc(10);

//*************************** Modules ****************************************
// Note: module settings should go at the top of each individual module partials.

//*************************** Properties *************************************
$properties: margin, padding;
$sides-all:  top, bottom, left, right;
$sides-tb:   top, bottom;
$sides-lr:   left, right;
