//*************************** emCalc *****************************************
$browser-context: 16; // Default

// px to em calc
@function emCalc($pixels, $context: $browser-context) {
  @return #{$pixels / $context}em;
}

// px to rem calc
@function remCalc($pixels, $context: $browser-context) {
  @return #{$pixels / $context}rem;
}

$column-gutter: remCalc(15) !default;

//*************************** Breakpoints ************************************
$xsmall-breakpoint: remCalc(320);
$small-breakpoint:  remCalc(400);
$medium-breakpoint: remCalc(768);
$large-breakpoint:  remCalc(1024);
$xlarge-breakpoint: remCalc(1600);

$small-range:     (0, 40em);
$medium-range:    (40.063em, remCalc(1023));
$large-range:     (remCalc(1024), 90em);
$xlarge-range:    (90.063em, 120em);
$xxlarge-range:   (120.063em, 99999999em);

$max-screen-width: remCalc(1200);

$screen: "only screen";

$xsmall-range:  (0, $xsmall-breakpoint);
$small-range:   ($xsmall-breakpoint  + remCalc(1), $small-breakpoint);
$medium-range:  ($small-breakpoint  + remCalc(1), $medium-breakpoint);
$large-range:   ($medium-breakpoint + remCalc(1), $large-breakpoint);
$xlarge-range:  ($large-breakpoint  + remCalc(1), $xlarge-breakpoint);
$xxlarge-range: ($xlarge-breakpoint + remCalc(1), remCalc(99999999));

$xsmall-up: $screen;
$xsmall-only: "#{$screen} and (max-width: #{upper-bound($xsmall-range)})";

$small-up: "#{$screen} and (min-width:#{lower-bound($small-range)})";
$small-only: "#{$screen} and (min-width:#{lower-bound($small-range)}) and (max-width:#{upper-bound($small-range)})";

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

//*************************** Colors *****************************************
$black:           #000000;
$charcoal:        #333333;
$green:           #93af2a;
$grey:            #4a4a4a;
$grey-light:      lighten($grey, 15%);
$grey-very-light: lighten($grey, 52.75%);
$grey-dark:       darken($grey, 10%);
$grey-very-dark:  darken($grey, 25%);
$orange:          #f15a22;
$white:           #FFFFFF;

//*************************** Element Colors *********************************
$background-color-primary: $white;
$text-color:               $grey-light;

//*************************** Font-Sizes *************************************
$font-face:             '';
$font-face-face:       'Lobster';
$font-weight:           400;
$font-size:             remCalc(16);
$font-stack-fallbacks:  Helvetica, Arial, Sans-Serif;

$font-stack:            $font-face, $font-stack-fallbacks;
$font-size-start:       9;
$font-size-end:         32;

$h1-font-size:          remCalc(23);
$h2-font-size:          remCalc(20);
$h3-font-size:          remCalc(14);
$h4-font-size:          remCalc(16);
$h5-font-size:          remCalc(14);
$h6-font-size:          remCalc(12);
$p-font-size:           remCalc(13.5);
$a-font-size:           remCalc(16);
$li-font-size:          remCalc(16);
$default-font-size:     remCalc(16);

$h1-line-height:        remCalc(24);
$h2-line-height:        remCalc(20);
$h3-line-height:        remCalc(16);
$h4-line-height:        remCalc(16);
$h5-line-height:        remCalc(14);
$h6-line-height:        remCalc(12);
$p-line-height:         remCalc(14);
$a-line-height:         remCalc(14);
$li-line-height:        remCalc(14);
$default-line-height:   remCalc(14);

$side-nav-font-size:    remCalc(13);

//*************************** Margin and Padding *****************************
$h1-padding-top:        remCalc(10);
$h1-padding-bottom:     remCalc(10);

//*************************** Modules ****************************************
// Note: module settings should go at the top of each individual module partials.

//*************************** Properties *************************************
$properties:            margin, padding;
$sides:                 top, right, bottom, left;
$sides-gird-overrides:  right, left;
