@charset "UTF-8";

//*************************** Functions **************************************
@import "./functions";

//*************************** Variables and Mixins ***************************
@import "./settings";
@import "./mixins";

//*************************** Libs *******************************************
@import "./lib/swal/swal.scss";
