# Build Dependencies
/node_modules

# Built/compiled files
# Grunt build to create these files
/assets/css
/assets/js
/assets/fonts
.sass-cache/
/zip

# Ignore these while developing
/src/js/modules
/assets/img
*.docx

# Merge conflict files
*.orig
