# build dependencies
/node_modules

# directories
.sass-cache/
/assets/css
/assets/fonts
/assets/img
/assets/js
/build/dist/yb
/src/js/modules

# files
*.docx
*.orig
*.sublime-workspace
sftp-config.json
