/*****************************************************************************
 * overrides
 ****************************************************************************/
.nowrap {white-space: nowrap;}

// loop over breakpoints
@each $key, $value in $ranges {
   // create media queries
   @include range($value) {
      .nowrap-on-#{$key} {
         white-space: nowrap;
      }
   }
}

.absolute {
   position: absolute;
}

.relative {
   position: relative;
   height: 100%;
}

.overflow-hidden {
   overflow: hidden;
}
