/*****************************************************************************
 * overrides
 ****************************************************************************/
.nowrap {white-space: nowrap;}

// loop over breakpoints
@each $key, $value in $ranges {
   // create media queries
   @include range($value) {
      .nowrap-on-#{$key} {
         white-space: nowrap;
      }
      .hide-on-#{$key} {
         display: none;
      }
      .show-on-#{$key} {
         display: initial;
      }
   }
}
.hide {
   display: none;
}
.show {
   display: initial;
}
.relative {
   position: relative;
}
.absolute {
   position: absolute;
}
// loop over breakpoints
@each $key, $value in $breakpoints {
   // create media queries
   @include break($key) {
      @if $key == 'small' {
         .absolute-#{$key}-up { position: absolute; }
         .relative-#{$key}-up { position: relative; }
      } @else if $key == 'medium' {
         .absolute-#{$key}-up { position: absolute; }
         .relative-#{$key}-up { position: relative; }
      } @else if $key == 'large' {
         .absolute-#{$key}-up { position: absolute; }
         .relative-#{$key}-up { position: relative; }
      }
   }
}
.height-full {
   min-height: 100%;
}
.overflow-hidden {
   overflow: hidden;
}
.text-center {
   text-align: center;
}
.inline-block {
   display: inline-block;
}
