/*****************************************************************************
 * font-icons
 ****************************************************************************/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?6znfxu');
  src:  url('../fonts/icomoon/icomoon.eot?6znfxu#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?6znfxu') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?6znfxu') format('woff'),
        url('../fonts/icomoon/icomoon.svg?6znfxu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
   content: $icon-home3;
}
.icon-newspaper:before {
   content: $icon-newspaper;
}
.icon-image:before {
   content: $icon-image;
}
.icon-images:before {
   content: $icon-images;
}
.icon-camera:before {
   content: $icon-camera;
}
.icon-qrcode:before {
   content: $icon-qrcode;
}
.icon-phone:before {
   content: $icon-phone;
}
.icon-phone-hang-up:before {
   content: $icon-phone-hang-up;
}
.icon-envelop:before {
   content: $icon-envelop;
}
.icon-location:before {
   content: $icon-location;
}
.icon-location2:before {
   content: $icon-location2;
}
.icon-calendar:before {
   content: $icon-calendar;
}
.icon-mobile:before {
   content: $icon-mobile;
}
.icon-spoon-knife:before {
   content: $icon-spoon-knife;
}
.icon-leaf:before {
   content: $icon-leaf;
}
.icon-facebook:before {
   content: $icon-facebook;
}
.icon-facebook2:before {
   content: $icon-facebook2;
}
.icon-instagram:before {
   content: $icon-instagram;
}
.icon-twitter:before {
   content: $icon-twitter;
}
.icon-blogger:before {
   content: $icon-blogger;
}
.icon-blogger2:before {
   content: $icon-blogger2;
}
.icon-tumblr:before {
   content: $icon-tumblr;
}
.icon-tumblr2:before {
   content: $icon-tumblr2;
}
.icon-linkedin:before {
   content: $icon-linkedin;
}
.icon-linkedin2:before {
   content: $icon-linkedin2;
}
.icon-pinterest:before {
   content: $icon-pinterest;
}
.icon-pinterest2:before {
   content: $icon-pinterest2;
}
