/*****************************************************************************
 * fonts
 ****************************************************************************/

// Lobster
@font-face {
   font-family: 'Lobster';
   src: url('../fonts/Lobster/Lobster_1.3.otf') format('opentype');
   font-weight: normal;
   font-style: normal;
}

// Oswald
@font-face {
   font-family: 'OswaldBold';
   src: url('../fonts/oswald/Oswald-Bold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldBoldItalic';
   src: url('../fonts/oswald/Oswald-BoldItalic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldDemiBold';
   src: url('../fonts/oswald/Oswald-DemiBold.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldDemiBoldItalic';
   src: url('../fonts/oswald/Oswald-Demi-BoldItalic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldExtraLight';
   src: url('../fonts/oswald/Oswald-ExtraLight.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldExtraLightItalic';
   src: url('../fonts/oswald/Oswald-Extra-LightItalic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldHeavy';
   src: url('../fonts/oswald/Oswald-Heavy.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldHeavyItalic';
   src: url('../fonts/oswald/Oswald-HeavyItalic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldLight';
   src: url('../fonts/oswald/Oswald-Light.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldLightItalic';
   src: url('../fonts/oswald/Oswald-LightItalic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldMedium';
   src: url('../fonts/oswald/Oswald-Medium.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldMediumItalic';
   src: url('../fonts/oswald/Oswald-MediumItalic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldRegular';
   src: url('../fonts/oswald/Oswald-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldRegularItalic';
   src: url('../fonts/oswald/Oswald-RegularItalic.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'OswaldStencil';
   src: url('../fonts/oswald/Oswald-Stencil.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
