/*****************************************************************************
 * fonts
 ****************************************************************************/
@for $i from 10 through 48 {
   .font-size-#{$i} {
      font-size: remCalc($i);
   }
}
