/*****************************************************************************
 * aligns
 ****************************************************************************/
.align-vertical {
   @include align-vertical;
}

.align-center {
   @include align-center;
}
