/*****************************************************************************
 * backgrounds
 ****************************************************************************/
$colors: (
   black:            $black,
   charcoal:         $charcoal,
   green:            $green,
   grey:             $grey,
   greyLight:        $grey-light,
   greyVeryLight:    $grey-very-light,
   greyDark:         $grey-dark,
   greyVeryDark:     $grey-very-dark,
   orange:           $orange,
   white:            $white
);

@each $key, $value in $colors {
   .bg-color-#{$key} {background-color: #{$value};}
}
