/*****************************************************************************
 * buttons
 ****************************************************************************/
// module-specific settings
$color-primary-button:            $color-secondary-font;
$color-bg-primary-button:         $color-secondary;
$color-bg-primary-button-hover:   lighten($color-bg-primary-button, 10%);

$color-secondary-button:          $color-secondary-font;
$color-bg-secondary-button:       $color-primary;
$color-bg-secondary-button-hover: lighten($color-bg-secondary-button, 10%);

$color-tertiary-button:           $color-primary-font;
$color-bg-tertiary-button:        $casper;
$color-bg-tertiary-button-hover:  darken($color-bg-tertiary-button, 10%);

button, .button {
   background-color: $color-bg-primary-button;
   border: none;
   color: $color-primary-button;
   padding: remCalc(19) remCalc(32) remCalc(15) remCalc(32);
   text-align: center;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-transform: uppercase;
   font-family: OswaldHeavy;
   font-size: remCalc(24);
   line-height: 1;
   position: relative;
   @include transition(background-color 300ms ease);
   &:hover {
      background-color: $color-bg-primary-button-hover;
      @include transition(background-color 300ms ease);
   }
   &.expand {
      width: 100%;
   }
   &.small {
      font-size: remCalc(16);
      padding: remCalc(15);
   }
   &.secondary {
      color: $color-secondary-button;
      background-color: $color-bg-secondary-button;
      @include transition(background-color 300ms ease);
      &:hover {
         background-color: $color-bg-secondary-button-hover;
         @include transition(background-color 300ms ease);
      }
   }
   &.tertiary {
      color: $color-tertiary-button;
      background-color: $color-bg-tertiary-button;
      @include transition(background-color 300ms ease);
      &:hover {
         background-color: $color-bg-tertiary-button-hover;
         @include transition(background-color 300ms ease);
      }
   }
   span.accent {
      text-transform: initial;
      font-family: GreatVibes;
      font-size: remCalc(24);
      padding: 0 remCalc(5) 0 remCalc(2);
      position: relative;
      top: remCalc(-2);
   }
}

input[type=button] {
   @extend button;
   padding-bottom: 20px;
}
