.curved-drop-shadow {
   position: relative;
   // width: 40%;
   // height: 200px;
   background: $grey-very-light; /* Adjustable; remove for dev purposes to see what's going on */
   // margin-bottom: remCalc(16); /* Make sure there's space for the shadow to show */

   /* A regular shadow on the main block helps the effect, but can be removed */
   -webkit-box-shadow: 0 1px remCalc(4) rgba(0, 0, 0, 0.3), 0 0 remCalc(40) rgba(0, 0, 0, 0.1) inset;
   -moz-box-shadow:    0 1px remCalc(4) rgba(0, 0, 0, 0.3), 0 0 remCalc(40) rgba(0, 0, 0, 0.1) inset;
   box-shadow:         0 1px remCalc(4) rgba(0, 0, 0, 0.3), 0 0 remCalc(40) rgba(0, 0, 0, 0.1) inset;
   &::before {
      content: ""; /* bring into existance */
      position: absolute; 
      z-index: -2; /* Always behind the main block */
      top: 80%; /* Set to 0 if you want a shadow on the top too */
      bottom: -5px; /* Just leave this alone */
      left: 25%; /* Adjustable; monkey with left and right, but keep 'em equal */
      // right: 5%;
      width: 50%;

      /* Adjustable; tweak the angle and blur to taste */
      /*    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6); */
      /*    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6); */
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);

      /* Adjustable; tweak the corners to taste; maybe just don't */
      /*    -moz-border-radius:100px / 10px; */
      border-radius: 50%;
   }
}
