/*****************************************************************************
 * embellishments
 ****************************************************************************/
@media only screen and (min-width: $medium-breakpoint) {
   .curved-drop-shadow {
      position: relative;
      background: $smoke;
      -webkit-box-shadow: 0 1px remCalc(4) rgba(0, 0, 0, 0.3), 0 0 remCalc(40) rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow:    0 1px remCalc(4) rgba(0, 0, 0, 0.3), 0 0 remCalc(40) rgba(0, 0, 0, 0.1) inset;
      box-shadow:         0 1px remCalc(4) rgba(0, 0, 0, 0.3), 0 0 remCalc(40) rgba(0, 0, 0, 0.1) inset;
      &::before {
         content: "";
         position: absolute;
         z-index: -2;
         top: 80%;
         bottom: -3px;
         left: 30%;
         width: 40%;
         border-radius: 50%;
         @include box-shadow(0, 10px, 15px, 0, rgba(0,0,0,0.6));
      }
   }
}

@mixin double-border($color) {
   position: relative;
   border: 1px solid $color;
   padding: remCalc(40);
   &::before {
      content: " ";
      position: absolute;
      // z-index: -1;
      top: remCalc(2);
      left: remCalc(2);
      right: remCalc(2);
      bottom: remCalc(2);
      border: 1px solid $color;
   }
   p:last-of-type { margin-bottom: 0; }
}

// .double-border-traffic-cone { @include double-border($traffic-cone); }
@each $key, $value in $colors {
   .double-border-#{$key} { @include double-border($value); }
}

@each $key, $value in $color-hierarchy {
   .double-border-#{$key} { @include double-border($value); }
}

.text-shadow-light { text-shadow: 0px 0px remCalc(28) rgba(255, 255, 255, 1); }
.text-shadow-dark { text-shadow: 0px 0px remCalc(28) rgba(0, 0, 0, 1); }

/**
 * Can un-comment this declaration when media-query-specific
 * classes have been defined.
 * E.g.: .circle-on-medium-up etc.;
 */
// .circle {
//    width: 100px;
//    height: 100px;
//    position: relative;
//    overflow: hidden;
//    border-radius: 50%;
// }

@media only screen and (min-width: $small-breakpoint) {
   .circle {
      width: remCalc(85);
      height: remCalc(85);
      overflow: hidden;
      @include border-radius(50%);
      // @include align-vertical(absolute, "Y", 50%, -50%);
      @include align-center(absolute, 50%, 50%);
      img {
         height: 100%;
         width: auto;
         object-fit: cover;
         object-position: center;
         transform: scale(1.5);
         &.portrait {
            width: 100%;
            height: auto;
         }
      }
   }
}
 
a {
   &.raquo {
      color: $color-primary-a;
      font-style: italic;
      font-weight: 600;
   }
}
