/*****************************************************************************
 * embellishments
 ****************************************************************************/
.curved-drop-shadow {
   position: relative;
   // width: 40%;
   // height: 200px;
   background: $grey-very-light; /* Adjustable; remove for dev purposes to see what's going on */
   // margin-bottom: remCalc(16); /* Make sure there's space for the shadow to show */

   /* A regular shadow on the main block helps the effect, but can be removed */
   -webkit-box-shadow: 0 1px remCalc(4) rgba(0, 0, 0, 0.3), 0 0 remCalc(40) rgba(0, 0, 0, 0.1) inset;
   -moz-box-shadow:    0 1px remCalc(4) rgba(0, 0, 0, 0.3), 0 0 remCalc(40) rgba(0, 0, 0, 0.1) inset;
   box-shadow:         0 1px remCalc(4) rgba(0, 0, 0, 0.3), 0 0 remCalc(40) rgba(0, 0, 0, 0.1) inset;
   &::before {
      content: ""; /* bring into existance */
      position: absolute; 
      z-index: -2; /* Always behind the main block */
      top: 80%; /* Set to 0 if you want a shadow on the top too */
      bottom: -3px; /* Just leave this alone */
      left: 30%; /* Adjustable; monkey with left and right, but keep 'em equal */
      // right: 5%;
      width: 40%;

      /* Adjustable; tweak the angle and blur to taste */
      /*    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6); */
      /*    -moz-box-shadow:0 0 15px rgba(0,0,0,0.6); */
      box-shadow: 0 10px 15px rgba(0,0,0,0.6);

      /* Adjustable; tweak the corners to taste; maybe just don't */
      /*    -moz-border-radius:100px / 10px; */
      border-radius: 50%;
   }
}

.double-border {
   position: relative;
   border: 1px solid $orange;
   padding: remCalc(40);
   &::before {
      content: " ";
      position: absolute;
      z-index: -1;
      top: remCalc(2);
      left: remCalc(2);
      right: remCalc(2);
      bottom: remCalc(2);
      border: 1px solid $orange;
   }
   p:last-of-type {
      margin-bottom: 0;
   }
}

// .circle {
//    width: 100px;
//    height: 100px;
//    position: relative;
//    overflow: hidden;
//    border-radius: 50%;
// }

.circle {
  position: relative;
  width: 85px;
  height: 85px;
  overflow: hidden;
  @include border-radius(50%);
  @include align-vertical(absolute, "Y", 50%, -50%);
}
.circle img {
  height: 100%;
  width: auto;
  object-fit: cover;
  object-position: center;
  transform: scale(1.5);

}
.circle img.portrait {
  width: 100%;
  height: auto;
}
