/*****************************************************************************
 * embellishments
 ****************************************************************************/
.curved-drop-shadow {
   position: relative;
   background: $grey-very-light;
   -webkit-box-shadow: 0 1px remCalc(4) rgba(0, 0, 0, 0.3), 0 0 remCalc(40) rgba(0, 0, 0, 0.1) inset;
   -moz-box-shadow:    0 1px remCalc(4) rgba(0, 0, 0, 0.3), 0 0 remCalc(40) rgba(0, 0, 0, 0.1) inset;
   box-shadow:         0 1px remCalc(4) rgba(0, 0, 0, 0.3), 0 0 remCalc(40) rgba(0, 0, 0, 0.1) inset;
   &::before {
      content: "";
      position: absolute;
      z-index: -2;
      top: 80%;
      bottom: -3px;
      left: 30%;
      width: 40%;
      border-radius: 50%;
      @include box-shadow(0, 10px, 15px, 0, rgba(0,0,0,0.6));
   }
}

.double-border {
   position: relative;
   border: 1px solid $orange;
   padding: remCalc(40);
   &::before {
      content: " ";
      position: absolute;
      z-index: -1;
      top: remCalc(2);
      left: remCalc(2);
      right: remCalc(2);
      bottom: remCalc(2);
      border: 1px solid $orange;
   }
   p:last-of-type {
      margin-bottom: 0;
   }
}

// .circle {
//    width: 100px;
//    height: 100px;
//    position: relative;
//    overflow: hidden;
//    border-radius: 50%;
// }

.circle {
   position: relative;
   width: 85px;
   height: 85px;
   overflow: hidden;
   @include border-radius(50%);
   @include align-vertical(absolute, "Y", 50%, -50%);
   img {
      height: 100%;
      width: auto;
      object-fit: cover;
      object-position: center;
      transform: scale(1.5);
      &.portrait {
         width: 100%;
         height: auto;
      }
   }
}
 
.topping {
   position: relative;
   width: 100%;
   // height: 100px;
   margin-bottom: 15px;
   overflow: hidden;
   img {
      position: absolute;
      max-width: 100%;
      top: 50%;
      object-fit: cover;
      object-position: center;
      transform: scale(1) translateY(-50%);
      @include transition(transform 200ms ease);
   }
   &-content {
      position: relative;
      width: 100%;
      // height: 100%;
      padding: remCalc(15);
      background-color: rgba(0, 0, 0, 0);
      @include opacity(0);
      @include transition(opacity 200ms ease);
      p {
         margin-top: 0;
         color: $white;
         text-align: center;
      }
   }
   &-call-out {
      background: rgba(255,255,114,0.75);
      top: 50%;
      width: 85%;
      text-align: right;
      padding-right: remCalc(40);
      -webkit-border-top-right-radius: remCalc(42) 50%;
          -moz-border-radius-topright: remCalc(42) 50%;
              border-top-right-radius: remCalc(42) 50%;
      -webkit-border-bottom-right-radius: remCalc(42) 50%;
          -moz-border-radius-bottomright: remCalc(42) 50%;
              border-bottom-right-radius: remCalc(42) 50%;
      -webkit-border-top-right-radius: remCalc(42) 50%;
          -moz-border-radius-topright: remCalc(42) 50%;
              border-top-right-radius: remCalc(42) 50%;
      -webkit-border-bottom-right-radius: remCalc(42) 50%;
          -moz-border-radius-bottomright: remCalc(42) 50%;
              border-bottom-right-radius: remCalc(42) 50%;
      @include opacity(1);
      @include transition(opacity 200ms ease);
      @include align-vertical(absolute, "Y", 50%, -50%);
      &.right {
         text-align: left;
         right: 0;
         padding-right: initial;
         padding-left: remCalc(40);
         -webkit-border-top-right-radius: initial;
             -moz-border-radius-topright: initial;
                 border-top-right-radius: initial;
         -webkit-border-bottom-right-radius: initial;
             -moz-border-radius-bottomright: initial;
                 border-bottom-right-radius: initial;
         -webkit-border-top-right-radius: initial;
             -moz-border-radius-topright: initial;
                 border-top-right-radius: initial;
         -webkit-border-bottom-right-radius: initial;
             -moz-border-radius-bottomright: initial;
                 border-bottom-right-radius: initial;
         -webkit-border-top-left-radius: remCalc(42) 50%;
             -moz-border-radius-topleft: remCalc(42) 50%;
                 border-top-left-radius: remCalc(42) 50%;
         -webkit-border-bottom-left-radius: remCalc(42) 50%;
             -moz-border-radius-bottomleft: remCalc(42) 50%;
                 border-bottom-left-radius: remCalc(42) 50%;
         -webkit-border-top-left-radius: remCalc(42) 50%;
             -moz-border-radius-topleft: remCalc(42) 50%;
                 border-top-left-radius: remCalc(42) 50%;
         -webkit-border-bottom-left-radius: remCalc(42) 50%;
             -moz-border-radius-bottomleft: remCalc(42) 50%;
                 border-bottom-left-radius: remCalc(42) 50%;
      }
   }
   &:hover {
      // max-width: 120%;
      img {
         transform: scale(1.2) translateY(-50%);
         @include transition(transform 200ms ease);
      }
      .topping-content {
         background-color: rgba(0, 0, 0, 0.7);
         @include opacity(1);
         @include transition(opacity 200ms ease);
      }
      .topping-call-out {
         @include opacity(0);
         @include transition(opacity 200ms ease);
      }
   }
}

a {
   &.raquo {
      color: $orange;
      font-style: italic;
      font-weight: 600;
   }
}
