/*****************************************************************************
 * features
 ****************************************************************************/

.standard {
   .standard-num {
      font-family: OswaldBold;
   }
   .standard.label {
      // font-family: OswaldBold;
   }
}
