/*****************************************************************************
 * footer
 * https://matthewjamestaylor.com/bottom-footer
 ****************************************************************************/

footer {
   position: absolute;
   bottom: 0;
   height: remCalc(150);
   width: 100%;
}
