/*****************************************************************************
 * grid
 ****************************************************************************/
// number of columns
$columns: 12;

.row {
   position: relative;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 0;
   margin-bottom: 0;
   max-width: $max-screen-width;
  .row {
      width: auto;
      margin-left: -$column-gutter;
      margin-right: -$column-gutter;
      margin-top: 0;
      margin-bottom: 0;
      max-width: none
   }
   &:before, &:after {
      content: " ";
      display: table
   }
   &:after {
      clear: both
   }
}

.column, .columns {
   padding-left: $column-gutter;
   padding-right: $column-gutter;
   width: 100%;
   float: left
}

// loop over breakpoints
@each $key, $value in $breakpoints {
   // create media queries
   @include break($key) {
      // nest column widths
      @for $i from 1 through $columns {
         .#{$key}-#{$i} {
            width: #{$i / $columns * 100%};
         }
         .#{$key}-offset-#{$i} {
            margin-left: #{$i / $columns * 100%};
         }
      }
   }
}
