/*****************************************************************************
 * header
 ****************************************************************************/
// module-specific settings
$header-primary-color: rgba(147,175,42,0.75);
$header-secondary-color: $white;
$header-border-color: $header-secondary-color;

header {
   padding-top: remCalc(180);
   position: relative;
   &::after {
      content: "";
      background-image: url('/assets/img/DSC_2902CR.jpg');
      background-size: cover;
      background-position-y: 55%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; 
      @include opacity(0.5);
   }
   nav {
      float: right;
      color: $white;
      text-transform: uppercase;
      font-family: OswaldRegular;
      font-size: 18px;
      a {
         color: $white;
         text-decoration: none;
         margin: 0 remCalc(7);
         &:first-of-type {
            margin-left: 0px;
         }
         &:last-of-type {
            margin-right: 0px;
         }
      }
   }
   .header-content {
      border-top: remCalc(8) solid $header-border-color;
      border-bottom: remCalc(8) solid $header-border-color;
      background-color: $header-primary-color;
      // box-shadow: 0px 0px remCalc(5) 0px rgba(0,0,0,0.5);
   }
   .logo {
      z-index: 1;
      @include align-vertical($position: absolute, $valueA: '');
   }
   .strapline {
      height: 100px;
      div {
         height: 100%;
      }
      p {
         color: $white;
         font-family: Lobster;
         font-size: 72px;
      }
   }
}

.move-strapline-in {
   top: 50% !important;
   @include opacity(1);
   animation-name: in;
   animation-duration: .5s;
}

.move-strapline-out {
   top: 50% !important;
   @include opacity(0);
   animation-name: out;
   animation-duration: .5s;
}

@keyframes in {
   0%   {
      top: 150%;
      @include opacity(0);
   }
   25%  {
      top: 100%;
      @include opacity(.5);
   }
   50%  {
      top: 65%;
      @include opacity(.9);
   }
   100% {
      top: 50%;
      @include opacity(1);
   }
}

@keyframes out {
   0%   {
      top: 50%;
      @include opacity(1);
   }
   25%  {
      top: 45%;
      @include opacity(.9);
   }
   50%  {
      top: 0%;
      @include opacity(.5);
   }
   100% {
      top: -50%;
      @include opacity(0);
   }
}
