/*****************************************************************************
 * hover-box
 ****************************************************************************/
.hover-box {
   position: relative;
   width: 100%;
   overflow: hidden;
   &:first-child:nth-last-child(1),
   &:first-child:nth-last-child(1) ~ .hover-box {
      height: 100%;
   }
   &:first-child:nth-last-child(2),
   &:first-child:nth-last-child(2) ~ .hover-box {
      height: calc(50% - 10px); // offset = bottom margin - (bottom margin / # of divs) E.g., 14px = 10px - (20px / 2)
      margin-bottom: 20px;
   }
   &:first-child:nth-last-child(3),
   &:first-child:nth-last-child(3) ~ .hover-box {
      height: calc(33.3333% - 14px); // offset = bottom margin - (bottom margin / # of divs) E.g., 14px = 21px - (21px / 3)
      margin-bottom: 21px;
   }
   &:first-child:nth-last-child(4),
   &:first-child:nth-last-child(4) ~ .hover-box {
      height: calc(25% - 15px); // offset = bottom margin - (bottom margin / # of divs) E.g., 15px = 20px - (20px / 4)
      margin-bottom: 20px;
   }
   &:last-of-type {
      margin-bottom: 0 !important;
   }
   img {
      position: absolute;
      max-width: 100%;
      top: 50%;
      object-fit: cover;
      object-position: center;
      transform: scale(1) translateY(-50%);
      @include transition(transform 200ms ease);
   }
   &-content {
      position: relative;
      width: 100%;
      height: 100%;
      padding: remCalc(15);
      background-color: $vader;
      @include opacity(0);
      @include transition(opacity 200ms ease);
      p {
         margin-top: 0;
         color: $color-secondary-font;
         text-align: center;
      }
   }
   &-call-out {
      background: rgba(255,255,114,0.75);
      top: 50%;
      width: 85%;
      text-align: right;
      padding-right: remCalc(40);
      -webkit-border-top-right-radius: remCalc(42) 50%;
          -moz-border-radius-topright: remCalc(42) 50%;
              border-top-right-radius: remCalc(42) 50%;
      -webkit-border-bottom-right-radius: remCalc(42) 50%;
          -moz-border-radius-bottomright: remCalc(42) 50%;
              border-bottom-right-radius: remCalc(42) 50%;
      -webkit-border-top-right-radius: remCalc(42) 50%;
          -moz-border-radius-topright: remCalc(42) 50%;
              border-top-right-radius: remCalc(42) 50%;
      -webkit-border-bottom-right-radius: remCalc(42) 50%;
          -moz-border-radius-bottomright: remCalc(42) 50%;
              border-bottom-right-radius: remCalc(42) 50%;
      @include opacity(1);
      @include transition(opacity 200ms ease);
      @include align-vertical(absolute, "Y", 50%, -50%);
      p {
         font-family: OswaldRegular;
         font-size: remCalc(24);
         font-weight: 600;
      }
      &.right {
         text-align: left;
         right: 0;
         padding-right: initial;
         padding-left: remCalc(40);
         -webkit-border-top-right-radius: initial;
             -moz-border-radius-topright: initial;
                 border-top-right-radius: initial;
         -webkit-border-bottom-right-radius: initial;
             -moz-border-radius-bottomright: initial;
                 border-bottom-right-radius: initial;
         -webkit-border-top-right-radius: initial;
             -moz-border-radius-topright: initial;
                 border-top-right-radius: initial;
         -webkit-border-bottom-right-radius: initial;
             -moz-border-radius-bottomright: initial;
                 border-bottom-right-radius: initial;
         -webkit-border-top-left-radius: remCalc(42) 50%;
             -moz-border-radius-topleft: remCalc(42) 50%;
                 border-top-left-radius: remCalc(42) 50%;
         -webkit-border-bottom-left-radius: remCalc(42) 50%;
             -moz-border-radius-bottomleft: remCalc(42) 50%;
                 border-bottom-left-radius: remCalc(42) 50%;
         -webkit-border-top-left-radius: remCalc(42) 50%;
             -moz-border-radius-topleft: remCalc(42) 50%;
                 border-top-left-radius: remCalc(42) 50%;
         -webkit-border-bottom-left-radius: remCalc(42) 50%;
             -moz-border-radius-bottomleft: remCalc(42) 50%;
                 border-bottom-left-radius: remCalc(42) 50%;
      }
   }
   &:hover {
      // max-width: 120%;
      img {
         transform: scale(1.2) translateY(-50%);
         @include transition(transform 200ms ease);
      }
      .hover-box-content {
         background-color: rgba(0, 0, 0, 0.7);
         @include opacity(1);
         @include transition(opacity 200ms ease);
      }
      .hover-box-call-out {
         @include opacity(0);
         @include transition(opacity 200ms ease);
      }
   }
}
