/*****************************************************************************
 * notifications
 ****************************************************************************/
img.sms {
   position: absolute;
   bottom: remCalc(0);
   right: remCalc(15);
}
