/*****************************************************************************
 * overrides
 ****************************************************************************/
.overflow-hidden {
   overflow: hidden;
}

.height-full {
   height: 100%;
}
