/*****************************************************************************
 * panels-home
 ****************************************************************************/
// loop over breakpoints
@each $key, $value in $breakpoints {
   // create media queries
   @include break($key) {
      @if $key == 'medium' {
         .panels-home > *:nth-child(1) {
            grid-area: 3 / 1 / 4 / 2;
         }
         .panels-home > *:nth-child(2) {
            grid-area: 4 / 1 / 5 / 2;
         }
         .panels-home > *:nth-child(3) {
            grid-area: 1 / 1 / 2 / 3;
         }
         .panels-home > *:nth-child(4) {
            grid-area: 2 / 1 / 3 / 3;
            min-height: 300px;
            width: 100%;
         }
         .panels-home > *:nth-child(5) {
            grid-area: 3 / 2 / 4 / 3;
         }
         .panels-home > *:nth-child(6) {
            grid-area: 4 / 2 / 5 / 3;
         }
      } @else if $key == 'large' {
         .panels-home > *:nth-child(1) {
            grid-area: 1 / 1 / 2 / 2;
         }
         .panels-home > *:nth-child(2) {
            grid-area: 2 / 1 / 3 / 2;
         }
         .panels-home > *:nth-child(3) {
            grid-area: 1 / 2 / 2 / 3;
         }
         .panels-home > *:nth-child(4) {
            grid-area: 2 / 2 / 3 / 3;
         }
         .panels-home > *:nth-child(5) {
            grid-area: 1 / 3 / 2 / 4;
         }
         .panels-home > *:nth-child(6) {
            grid-area: 2 / 3 / 3 / 4;
         }
      }
   }
}
