/*****************************************************************************
 * spacing
 ****************************************************************************/
// mod-specific vars
$margin-and-padding-start:       1;
$margin-and-padding-end:         5;
$margin-and-padding-multiplier:  10;

// mixins
@mixin spacing-classes($size, $property) {
   @for $i from $margin-and-padding-start through $margin-and-padding-end {
      @each $side in $sides {
         .#{$property}-#{$i * $margin-and-padding-multiplier}-#{$side}-on-#{$size} {
            #{$property}-#{$side}: (remCalc($i * $margin-and-padding-multiplier));
         }
         .#{$property}-neg#{$i * -$margin-and-padding-multiplier}-#{$side}-on-#{$size} {
            #{$property}-#{$side}: (remCalc($i * -$margin-and-padding-multiplier));
         }
      }
   }
}

@mixin no-spacing-classes($size, $property) {
   @each $side in $sides {
      .#{$property}-0-#{$side}-on-#{$size} {
         #{$property}-#{$side}: 0;
      }
   }
}

// loop over breakpoints
@each $key, $value in $breakpoints {
   // create media queries
   @include break($key) {
      @each $property in $properties {
         @include spacing-classes(#{$key}, $property);
         @include no-spacing-classes (#{$key}, $property);
      }
   }
}
