/*****************************************************************************
 * text
 ****************************************************************************/
.text-color-casper {
   color: $casper;
}
.text-color-charcoal {
   color: $charcoal;
}