/*****************************************************************************
 * text
 ****************************************************************************/
@each $key, $value in $colors {
   .text-color-#{$key} {color: #{$value};}
}

@each $key, $value in $color-hierarchy {
   .text-color-#{$key} {color: #{$value};}
}

a.text-decoration-none {
   text-decoration: none;
}
