/*****************************************************************************
 * toppings
 ****************************************************************************/
$toggle-bg: $color-primary-background;

ul.toggle {
   display: flex;
   justify-content: space-between;
   li {
      display: inline-block;
      a {
         text-decoration: none;
         padding: remCalc(10) remCalc(20);
         background-color: $toggle-bg;
         display: inline-block;
      }
   }
}
